.header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px 25px 22px 25px;
 font-family: 'Paperlogy-7Bold', sans-serif;
 box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
 z-index: 1;
}

.logo {
 font-size: 18px;
 font-weight: bold;
}

.nav-center {
 display: flex;
 gap: 30px;
 align-items: center;
}

.nav-item {
 font-size: 13px;
 text-decoration: none;
 color: inherit;
}

.nav-item-bold {
 font-weight: bold; 
}

.nav-right {
 display: flex;
 gap: 20px;
 align-items: center;
}