@import "../base/_fonts.css";

.header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px 25px 22px 25px;
 font-family: 'Paperlogy-7Bold', sans-serif;
}

.logo span {
 font-size: 18px;
 font-weight: bold;
}

.nav-center {
 display: flex;
 gap: 30px;
 align-items: center;
}

.nav-item {
 font-size: 13px;
 text-decoration: none;
 color: inherit;
}

.nav-item-bold {
 font-weight: bold;
}

.nav-right {
 display: flex;
 gap: 20px;
 align-items: center;
 font-family: 'Paperlogy-5Medium', sans-serif;
}